@media (max-width: 568px) {
    .page-wrap {
        width: 320px;
    }
    section:first-of-type {
        padding-bottom: 0px;
    }
    .main-content > div {
        width: 300px;
        height: 180px;
        margin-bottom: 10px;
    }
    .img-bg {
        background-size: cover;
        background-position: center center;
    }
    .sub-content [class*='item-'] {
        height: 200px;
    }
    .item-small {
        width: 300px;
        margin-bottom: 10px;
    }
    .item-medium {
        width: 300px;
    }
    footer h4,
    footer p {
        width: 320px;
    }
    article {
        height: 280px;
        font-size: 0.8em;
    }
    footer {
        font-size: 0.8em;
        height: 230px;
    }
    body {
        margin-bottom: 230px;
    }
}